<div class="row">
  <div class="col-md-12 caption-row">
    <span id="caption">
      {{image.caption}}
    </span>
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="{{image.url}}" />
          </li>
          <li>
            <img src="{{image.url}}" />
          </li>
          <li>
            <p class="flex-caption">Text Over Slide 3</p>
            <img src="{{image.url}}" />
          </li>
          <li>
            <p class="flex-caption">Text Over Slide 4</p>
            <img src="{{image.url}}" />
          </li>
        </ul>
      </div>
    <div class="caption-row details">
      <div class="pskills"><span>Skills Utilized:</span>{{image.pskills}}</div>
      <div class="pdetails"><span>Project Details:</span>{{image.pdetails}}</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div [ngStyle]="{'background-image':'url('+ image.url + ')'}" class="img-container"></div>
  </div>
</div>
