<header class="cd-header">
  <div class="cd-logo"><a href="#"><img src="assets/img/cd-logo.svg" alt="Logo"></a></div>

  <nav>
    <ul class="cd-secondary-nav">
      <li><a href="#">Log In</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </nav> <!-- cd-nav -->

  <a class="cd-primary-nav-trigger">
    <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
  </a> <!-- cd-primary-nav-trigger -->
</header>

<nav>
  <ul class="cd-primary-nav">
    <li class="cd-label">About Me</li>

    <li><a href="#">Services</a></li>
    <li><a href="#">Process</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">FAQ</a></li>

    <li class="cd-label">Work with me</li>

    <li><a href="#">Hire Me</a></li>
    <li><a href="#">Contact Me</a></li>
    <li><a href="#">Create An Account</a></li>

    <li class="cd-label">Follow Me</li>

    <li class="cd-social cd-facebook"><a href="#">Facebook</a></li>
    <li class="cd-social cd-instagram"><a href="#">Instagram</a></li>
    <li class="cd-social cd-dribbble"><a href="#">Dribbble</a></li>
    <li class="cd-social cd-twitter"><a href="#">Twitter</a></li>
  </ul>
</nav>
